* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  font-size: 20px;
  padding: 10px;
}

.menu {
  align-items: center;
  background-color: black;
  display: flex;
  padding: 5px;
  width: 100%;
}

a {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}

a:hover {
  opacity: 1;
}

.menu p {
  margin-bottom: 0;
  opacity: 0.9;
}

.menu p:hover {
  cursor:default;
  opacity: 1;
}

.menu .links {
  margin-left: auto;
  margin-right: 5px;
}

.hero-page {
  background-image: url(imagens/squares.gif);
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
}

#site {
  border: none;
  color: white;
  font-family: Comfortaa, Helvetica, Arial;
}

.link-style {
  color: #000000;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 6px;
  text-decoration: none;
  font-size: 100%;
}
