body {
  height: auto;
  margin: 0;
  padding: 0;
}
.div-align {
  display: flex;
  align-items: center;
}
.title {
  padding: 10px;
  font-size: 20px;
}
#comment {
  padding: 5%;
}
#header-links {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  width: 50%;
}
#links {
  margin: auto;
  text-align: center;
  padding: 10px;
}
.menu {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: 50%;
  height: auto;
  justify-content: flex-start;
  margin: auto;
  padding: 5px;
  width: auto;
}
.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#principal {
  color: whitesmoke;
  text-align: center;
  font-size: 150%;
  display: inline;
}
#rodapé {
  background-color: rgba(0, 0, 0, 0.199);
}
#selfie {
  box-shadow: 7px 7px 7px rgba(15, 15, 15, 0.267);
  border-radius: 50%;
}
#site {
  background-image: url(imagens/squares.gif);
  background-position: 20%;
  background-size: cover;
  border: none;
  color: whitesmoke;
  font-family: Comfortaa, Helvetica, Arial;
}
#hard-skills {
  background-color: rgba(24, 26, 26, 0.438);
  font-size: 30px;
  padding-left: 10px;
  text-align: center;
  height: auto;
  width: 100%;
}
#lista {
  display: flex;
  flex-direction: row;
}
#python {
  padding-left: 15px;
}
.link-style {
  color: #000000;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 2%;
  text-decoration: none;
  font-size: 130%;
}
