.title-page {
    margin-right: 30%;
    margin-left: 30%;
    padding: 6px 6px 6px 6px;
    text-shadow: 8px 4px 6px rgba(245, 245, 245, 0.377);  
}            
#site 
{
 background-image: url(imagens/squares.gif);
 background-position: 20%;
 background-size: cover;
 border: none;
 color: whitesmoke;   
 font-family: Comfortaa,Helvetica, Arial;   
} 
#principal {
    color: whitesmoke;
    text-align: center;
}
#selfie{
    box-shadow: 7px 7px 7px rgba(245, 245, 245, 0.267);
    border-radius: 50%;
}
#lista {
    text-align: center;
}
#links {
    margin: auto;
    text-align: center;
}
ul{
    list-style-position:inside;
    margin: auto;
    text-align: center;
}
.link-style  {
    color:#000000;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 0.5%;
    text-decoration: none;
}
body 
{
 height: auto;
 margin: 0%;
 margin-top: -25px;/*Fix the white space bug on  top*/
 padding: 0%; 
 
}